

/* section 1 */

#sec1 {padding: 3% 15%;}
.sec1-navbar {
    padding: .5% 15%;
    background-color: #633a85;
}
.sec1-navbar-font {
    font-family: 'Ubuntu', sans-serif; 
    font-size: 2rem; 
    font-weight: 900;
}
.nav-item {padding: 0px 18px}
.nav-link {font-family: 'Montserrat'; font-weight: 300;}



.grid-margin {margin-top: 8rem;}
.sec1-h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900; 
    color: #fff;
}
.btn-margin-sec1 {margin: 2rem 0.32rem 0rem}

.phone-img-parent {
    position: relative;
    /* height: 25rem; */
}
.sec1-phone-img {
    border-radius: 40px;
    transform: rotate(25deg);
    position: absolute;
    right: 10%;
}
@media (max-width: 790px) {
    .sec1-phone-img {
        transform: none;
        position: static;
        margin-top: 2rem;
    }
    .alignment{text-align: center;}
}




/* section 2 */

#sec2 {
    position: relative;
    background-color: #fff;
}

.sec2-style {
    padding: 7% 15%;
    text-align: center;
}
.font-sec2 {
    font-weight: bold;
    font-size: 1.5rem;
}
.font-sub-sec2 {
    color: #8f8f8f;
    font-weight: 500;
}
.icon-color {
    color: #ff8172;
    padding-bottom: 1rem;
}
.icon-color:hover {color: #ff4c68}




/* section 3 */

#sec3 {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item {
    padding: 7% 15%;

}
.sec3-h2 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.sec3-img {
    width: 20%;
    border-radius: 100%;
    margin: 1rem;
}
.sec3-img2 {
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}
.sec3-img2-div {margin-top: 5rem;}




/* pricing section */

#pricing {
    padding: 7% 15%;
    text-align: center;
}
.pricing-pad {padding-top: 8%}
.pricing-h2 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #5e5555;
}
.pricing-p {
    font-family: 'Montserrat';
    color:#8f8f8f;
    font-size: 1rem;
}
.color88 {
    color: #8f8f8f;
    font-family: 'Montserrat';
    font-size: 1.5rem;
}
.pricing-name {
    font-family: 'Montserrat';
    font-weight: 900;
    color: #9d5ece;
}




/* download section */

#download {
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
}




/* footer section */

/* #footer {
    text-align: center;
    padding-top: 2rem;
    background-color: #633a85;
}
.footer-link {
    text-decoration: none;
    padding: 5%;
}
.footer-color {color:#8f8f8f;}
.footer-img {
    width: 20px;
    margin-right: 5px;
}
.copyright {
    padding: 2rem 0;
    color: #fff;
} */

#footer {
    padding: 3% 15%;
    text-align: center;
}
.icon-padding{padding: 20px 10px;}
.copyright{color: #8f8f8f;}